<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose outcome</title>
    <h1>
        <font color="#000000" size="6">
            <span th:text="'Your new balance is - ' + ${balance}"></span>
        </font>
    </h1>
    <h2>
        <font color="#00FFFF" size="6">
            Please choose an outcome to bet on! (choose a number or press q for quit)
        </font>
    </h2>

</head>
<body>
<form action="/bet/chooseBet" method="post" th:object="${choiseDto}">
    <ol>
        <li th:each="outputBetObject : ${outputBetObjects}" th:text="${outputBetObject}"></li>
    </ol>
    <font color="#00FFFF" size="5">
        Made your choice:<br>
        <input name="choice" type="text"><br>
    </font>
</form>
</body>
</html>

