<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home screen</title>
    <font size="6" color="#00FFFF">
        <b> Account details</b>
    </font>
</head>
<body>
<form action="/player/savePlayer" th:object="${homeScreenInput}" method="post">
    Name:<br>
    <input type="text" name="name"><br>

    Account number:<br>
    <input type="text" name="accountNumber"><br>

    Date of birth:<br>
    <input type="text" name="birth"><br>

    Currency:<br>
    <input type="radio" name="Currency" value="USD">USD<br>
    <input type="radio" name="Currency" value="EUR">EUR<br>
    <input type="radio" name="Currency" value="UAH">UAH<br>

    Balance:<br>
    <input type="text" name="balance"><br>


    <button style="background-color:aqua; border-color:blue; color:white">Save</button>
</form>

</body>
</html>