<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home screen</title>
    <font color="#00FFFF" size="6">
        <b> Account details</b>
    </font>
</head>
<body>
<form action="/player/savePlayer" method="post" th:object="${homeScreenInput}">
    Name:<br>
    <input name="name" type="text"><br>

    Account number:<br>
    <input name="accountNumber" type="text"><br>

    Date of birth:<br>
    <input name="birth" type="text"><br>

    Currency:<br>
    <input name="Currency" type="radio" value="USD">USD<br>
    <input name="Currency" type="radio" value="EUR">EUR<br>
    <input name="Currency" type="radio" value="UAH">UAH<br>

    Balance:<br>
    <input name="balance" type="text"><br>


    <button style="background-color:aqua; border-color:blue; color:white">Save</button>
</form>

</body>
</html>