<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Invalid input</title>
    <font color="#00FFFF" size="6">
        Please enter valid data!
    </font><br>
</head>
<body>
<br>
<br>
<font color="#000000" size="3">
    Valid data:
</font><br>
<form>
    1. Name contain only letters.<br>
    2. Date of birth format example - 12-12-1990.<br>
    3. Account number contain only digits.<br>
    4. Balance contain only digits.<br>
    <br>
    <button style="background-color:aqua; border-color:blue; color:white" type="button">OK</button>
    <a th:href="@{homeScreen}"></a>
</form>
</body>
</html>