<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Made correct choice</title>
    <font size="6" color="#00FFFF">
        Please enter valid input!
    </font><br>
</head>
<body>
<br>
<br>
<font size="3" color="#000000">
    Valid input:
</font><br>
<br>
<form action="/bet/chooseBet" method="post">
    Please choose a number from list or press 'q' for quit<br>
    <br>
    <br>
    <button style="background-color:aqua; border-color:blue; color:white">OK</button>
</form>
</body>
</html>