<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SportsBet</title>
    <img , src="img/welcome.png" width="100%"><br>


</head>
<body>
<font color="#00FFFF" size="5">
    <b> Login </b>
</font>
<font color="#000000" size="5">
    <b>or </b>
</font>
<font color="#00FFFF" size="7">
    <b>Register </b>
</font>
<font color="#000000" size="5">
    <b>to start </b>
</font>

<form action="logIn" method="post">
    login:<br>
    <input name="login" type="text"><br>

    Password:<br>
    <input name="password" type="text"><br>

    <button style="background-color:aqua; border-color:blue; color:white">LogIn</button>

</form>
</body>
</html>