<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SportsBet</title>
    <img src="img/welcome.png" , width="100%"><br>


</head>
<body>
<font size="5" color="#00FFFF">
    <b> Login </b>
</font>
<font size="5" color="#000000">
    <b>or </b>
</font>
<font size="5" color="#00FFFF">
    <b>Register </b>
</font>
<font size="5" color="#000000">
    <b>to start </b>
</font>

<form action="logIn" method="post">
    login:<br>
    <input type="text" name="login"><br>

    Password:<br>
    <input type="text" name="password"><br>

    <button style="background-color:aqua; border-color:blue; color:white">LogIn</button>

</form>
</body>
</html>